:root {

    --backgroud: #222222;
    --text-color: #ffffff;
    --gold: #FFC700;
    --footer-text: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}
div {
    display: flex;
}

body {
    background-color: var(--backgroud);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--gold);
    font-family: Julius Sans One;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}